body { background: #0d1117; margin: 0; }

svg { display: block; width: 100%; }

/* #mapSVG {
  cursor: grab;
}

#mapSVG:active {
  cursor: grabbing;
} */

#tooltip{
  position: fixed;
  display: none;
  background: rgba(0,0,0,0.75);
  border: 1px solid #444;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 12px;
  color: #eee;
  pointer-events: none;
}